<div class="pageWrapper">
  <div class="introBox">
    <h1 class="heading">Contacts</h1>
  </div>
  <div class="searchboxWrapper">
    <input
      (input)="searchValueChange($event.target)"
      placeholder="Enter name, username or phone to search"
      type="text"
      name="search"
      id="searchBox"
      value=""
    />
    <i class="fa fa-search" id="searchIcon"></i>
  </div>
  <div class="loading" *ngIf="this.loading">Fetching Contacts...</div>
  <div class="noResults" *ngIf="this.filterdUsers.length === 0">
    No matching contacts
  </div>
  <div *ngFor="let item of this.filterdUsers; index as i">
    <app-contact-item [contact]="item"></app-contact-item>
  </div>
</div>
<router-outlet></router-outlet>
